.container {
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 900px;
}

body{
  background-color: #0b1c2d;
}

h1{
  color: #f5c77a;
  font-size: clamp(2.5rem, 6vw, 5rem);
}

h2{
  color: #e5e7eb;
  font-size: clamo(1.5rem, 4.5vw, 3rem);
}

p{
  color: #e5e7eb;
  font-size: clamp(1rem, 3.5vw, 1.8rem);
  font-weight: lighter;
}

img{
  max-width: 100%;
  height: auto;
  border: 5px solid white;
}

footer{
  color: #e5e7eb;
}

.lorem{
  margin-top: 40px;
}

.photo{
  margin-top: 60px;
  margin-bottom: 50px;
}

.foot{
  margin-top: 40px;
}

.btn{
  font-size: 1.2rem;
  padding: 12px 24px;
  background-color: #0b1c2d;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.btn a{
  color: white;
  text-decoration: none;
}
    
