.container {
  text-align: center;
  margin: auto;
  padding: 10px;
}

body{
  background-color: #0b1c2d;
}

h1{
  color: #f5c77a;
  font-size: 5rem;
}

h2{
  color: #e5e7eb;
  font-size: 3rem;
}

p{
  color: #e5e7eb;
  font-size: 30px;
  font-weight: lighter;
}

img{
  border: 5px solid white;
}

footer{
  color: #e5e7eb;
}

.lorem{
  margin-top: 40px;
}

.photo{
  margin-top: 60px;
  margin-bottom: 50px;
}

.foot{
  margin-top: 40px;
}

.btn{
  font-size: 30px;
  background-color: #0b1c2d;
  color: white;
}


